apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: kratos
    namespace: elkia
    repo: https://k8s.ory.sh/helm/charts
    version: "0.28.0"
    releaseName: kratos
    valuesInline:
      kratos:
        config:
          dsn: memory

          serve:
            public:
              base_url: http://accounts.elkia.localhost/.ory/kratos/public/
              cors:
                enabled: true
            admin:
              base_url: http://kratos-admin

          selfservice:
            default_browser_return_url: http://accounts.elkia.localhost/
            allowed_return_urls:
              - http://accounts.elkia.localhost

            methods:
              password:
                enabled: true
              totp:
                config:
                  issuer: Kratos
                enabled: true
              lookup_secret:
                enabled: true
              link:
                enabled: true
              code:
                enabled: true

            flows:
              error:
                ui_url: http://accounts.elkia.localhost/error

              settings:
                ui_url: http://accounts.elkia.localhost/settings
                privileged_session_max_age: 15m
                required_aal: highest_available

              recovery:
                enabled: true
                ui_url: http://accounts.elkia.localhost/recovery
                use: code

              verification:
                enabled: true
                ui_url: http://accounts.elkia.localhost/verification
                use: code
                after:
                  default_browser_return_url: http://accounts.elkia.localhost/

              logout:
                after:
                  default_browser_return_url: http://accounts.elkia.localhost/login

              login:
                ui_url: http://accounts.elkia.localhost/login
                lifespan: 10m

              registration:
                lifespan: 10m
                ui_url: http://accounts.elkia.localhost/registration
                after:
                  password:
                    hooks:
                      - hook: session

          log:
            level: debug
            format: text
            leak_sensitive_values: true

          secrets:
            cookie:
              - PLEASE-CHANGE-ME-I-AM-VERY-INSECURE
            cipher:
              - 32-LONG-SECRET-NOT-SECURE-AT-ALL

          ciphers:
            algorithm: xchacha20-poly1305

          hashers:
            algorithm: bcrypt
            bcrypt:
              cost: 8

          identity:
            default_schema_id: default
            schemas:
              - id: default
                url: file:///etc/config/identity.default.schema.json

          session:
            cookie:
              domain: elkia.localhost

          courier:
            smtp:
              connection_uri: smtps://test:test@mailslurper:1025/?skip_ssl_verify=true
        automigration:
          enabled: true
        identitySchemas:
          "identity.default.schema.json": |
            {
              "$id": "https://schemas.ory.sh/presets/kratos/quickstart/email-password/identity.schema.json",
              "$schema": "http://json-schema.org/draft-07/schema#",
              "title": "Person",
              "type": "object",
              "properties": {
                "traits": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "format": "email",
                      "title": "E-Mail",
                      "minLength": 3,
                      "ory.sh/kratos": {
                        "credentials": {
                          "password": {
                            "identifier": true
                          }
                        },
                        "verification": {
                          "via": "email"
                        },
                        "recovery": {
                          "via": "email"
                        }
                      }
                    },
                    "name": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "title": "First Name",
                          "type": "string"
                        },
                        "last": {
                          "title": "Last Name",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "required": [
                    "email"
                  ],
                  "additionalProperties": false
                }
              }
            }
