# If we are a computer with nix available, then use that to setup
# the build environment with exactly what we need.
if has nix; then
    use flake
fi

# Set Skaffold default repo if not set
export SKAFFOLD_DEFAULT_REPO=${SKAFFOLD_DEFAULT_REPO:-"ghcr.io/infinity-blackhole"}