apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: redis
    namespace: elkia
    repo: https://charts.bitnami.com/bitnami
    version: "17.14.6"
    releaseName: redis
    valuesInline:
      auth:
        existingSecret: redis
        existingSecretPasswordKey: password
secretGenerator:
  - name: redis
    namespace: elkia
    literals:
      - username=default
      - password=Bkk77gSqpY2hbYi2
    type: kubernetes.io/basic-auth
    options:
      disableNameSuffixHash: true
