apiVersion: apps/v1
kind: Deployment
metadata:
  name: elkia-fleet
  namespace: elkia
  labels:
    app: elkia-fleet
spec:
  replicas: 1
  selector:
    matchLabels:
      app: elkia-fleet
  template:
    metadata:
      labels:
        app: elkia-fleet
    spec:
      containers:
        - name: elkia-fleet
          image: ghcr.io/infinity-blackhole/elkia-fleet
          env:
            - name: HOST
              value: "0.0.0.0"
          ports:
            - containerPort: 8080
              name: http
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 128Mi
      serviceAccountName: elkia-fleet
