apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kratos-courier
  namespace: elkia
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: kratos-courier
      app.kubernetes.io/instance: kratos-courier
  serviceName: kratos-courier
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: kratos-courier
        app.kubernetes.io/instance: kratos-courier
    spec:
      containers:
        - name: kratos-courier
          image: oryd/kratos:v0.11.1
          args:
            - courier
            - watch
            - --config
            - /etc/kratos/kratos.yaml
          volumeMounts:
            - name: kratos-config
              mountPath: /etc/kratos
              readOnly: true
          env:
            - name: LOG_FORMAT
              value: json
            - name: LOG_LEVEL
              value: trace
            - name: DSN
              valueFrom:
                secretKeyRef:
                  name: kratos
                  key: dsn
            - name: SECRETS_DEFAULT
              valueFrom:
                secretKeyRef:
                  name: kratos
                  key: secretsDefault
                  optional: true
            - name: SECRETS_COOKIE
              valueFrom:
                secretKeyRef:
                  name: kratos
                  key: secretsCookie
                  optional: true
            - name: SECRETS_CIPHER
              valueFrom:
                secretKeyRef:
                  name: kratos
                  key: secretsCipher
                  optional: true
            - name: COURIER_SMTP_CONNECTION_URI
              valueFrom:
                secretKeyRef:
                  name: kratos
                  key: smtpConnectionURI
      volumes:
        - name: kratos-config
          configMap:
            name: kratos
