apiVersion: v1
kind: Service
metadata:
  name: kratos-admin
  namespace: elkia
  labels:
    app.kubernetes.io/name: kratos
    app.kubernetes.io/instance: kratos
spec:
  ports:
    - port: 80
      targetPort: http-admin
      name: http
  selector:
    app.kubernetes.io/name: kratos
    app.kubernetes.io/instance: kratos
---
apiVersion: v1
kind: Service
metadata:
  name: kratos-public
  namespace: elkia
spec:
  ports:
    - port: 80
      targetPort: http-public
      name: http
  selector:
    app.kubernetes.io/name: kratos
    app.kubernetes.io/instance: kratos
---
apiVersion: v1
kind: Service
metadata:
  name: kratos-courier
  namespace: elkia
  labels:
    app.kubernetes.io/name: kratos-courier
    app.kubernetes.io/instance: kratos-courier
spec:
  clusterIP: None
  ports:
    - port: 80
      targetPort: http-public
      name: http
  selector:
    app.kubernetes.io/name: kratos-courier
    app.kubernetes.io/instance: kratos-courier
